/* CSS styling for the table */
table {
  position: relative;
  background-color: rgba(150, 150, 150, 0.849);
}
th {
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: small;
  padding: 2px 0 2px 0;
}
tr {
  font-size: x-small;
}
td {
  width: 50%;
  padding: 0;
}
.tableDates {
  font-size: 11px;
  border-bottom: none;
}
.tableIcon {
  border-top: none;
}
