#try  {
    display: block;
    float:right;
    width: 100%;
    /* border:1px solid rgb(31, 31, 31);
    background-color: brown; */
}
.t1 {
    text-align: center;
    display: inline;
    width: 100%;
    /* padding-left: 100px; */
}
#panel1a-header{
    text-align: center;
}
/* *{
  border:1px solid rgb(31, 31, 31);
}  */
