@font-face {
    font-family: SFPro;
    src: url("util/SF-Pro.ttf") format("opentype");
}
@font-face {
    font-family: SFPro;
    src: url("util/SF-Pro-Display-Black.otf") format("opentype");
    src: url("util/SF-Pro-Rounded-Black.otf") format("opentype");
    color: black;
  }

@font-face {
    font-family: SFPro;
    src: url("util/SF-Pro-Display-Bold.otf") format("opentype");
    src: url("util/SF-Pro-Rounded-Bold.otf") format("opentype");
    font-weight: bold;
  }

@font-face {
    font-family: SFPro;
    src: url("util/SF-Pro-Display-Medium.otf") format("opentype");
    font-size: medium
}

.App {
  font-family: "SFPro";
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Uncomment the next few lines to see which
components are going out of the body display */
/* *{
  border:1px solid rgb(31, 31, 31);
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
