/*  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* THIS IS ADDED TO MANAGE THE IMAGE ON THE SCREEN. 
FOR MORE INFO TEST IT BY COMMENTING THIS SECTION */
* {
  box-sizing: border-box;
}

/* // MAKI STYLES ADDED for the Banner "Loaction buttons or button" */
.Banner {
	text-align: right;
	margin: 0;
	margin-top: 5px;
	padding: 2;
	position: relative;
	top: -50pt;
  display: block;
  float: right;
}
.bigTemp {
  position: absolute;
  font-size: 75px;
  color: rgb(255, 255, 255);
  top: 50px;
  left: 35%;
}
.city{
  position: relative;
  font-size: 40px;
  color: rgb(255, 255, 255);
  top: -230%;
  right: 35%;
  margin: 0;
  margin-top: 5pt;
  padding: 2;
}