body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* THIS IS ADDED TO MANAGE THE IMAGE ON THE SCREEN. 
FOR MORE INFO TEST IT BY COMMENTING THIS SECTION */
* {
  box-sizing: border-box;
}

/* // MAKI STYLES ADDED for the Banner "Loaction buttons or button" */
.Banner {
	text-align: right;
	margin: 0;
	margin-top: 5px;
	padding: 2;
	position: relative;
	top: -50pt;
  display: block;
  float: right;
}
.bigTemp {
  font-size: 65px;
  color: rgb(255, 255, 255);
  margin-left: 30px;
  text-shadow: 3px 3px rgba(43, 43, 43, 0.685);
}
.city{
  position: relative;
  font-size: 40px;
  color: rgb(255, 255, 255);
  padding: 2;
  margin-left: 10px;
  text-shadow: 2px 2px rgba(31, 31, 31, 0.685);
}
.citytemp{
  position: absolute;
  float: left;
  top: 4%;
  display: block;
}
.currentRain{
  position: relative;
  bottom: 1%;
  text-align: right;
  padding-right: 10px;
}
.header{
  margin-top: -50px;
}
.conditions, .currentRain{
  font-weight: bold;
  text-shadow: 1px 1px rgb(63, 63, 63);
}
/* For the display of hourly table */
.scrollbar{
  overflow-x: scroll;
  width: 414px;
  display: block;

}
.scrollbar::-webkit-scrollbar {
  display: none;
}
.timess, .tomtom2, .tableDates{
  font-size: small;
}
.tomtom2{
  text-align: left;
}
.tomtom, #startTime, #lastRoww {
  border-left: 1pt solid rgb(255, 255, 255);
}
.lastRoww{
  padding-bottom: 19px;
}
.column{
  text-align: center;
}
table{
  height: 120px;
  padding: 0;
  margin: 0;
}
